.tb{
    text-align: center;
    width: 50%;
    border-collapse: collapse;
    border-spacing: 2px;
    font-size: large;
}

.tb-m{
    margin-top: 20px;
}

.tbhead{
    width: 50%;

}

.tbbody{
width: 50%;
}

.tbrow{
    display: flexbox;
    vertical-align: top;
    border-color: transparent;
}

.tbbd{
    border: {
        size: 4px;
        color: rgb(240, 236, 236);
        style: solid;
    }
}